<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'create' %}">Create Person</a>
    <a href="{% url 'main' %}">List of People</a>
    <div>
        <ul>
            {% for person in people %}
                <li>{{ person.name }}</li>
                <li>{{ person.age }}</li>
                <li><img src="{{ person.avatar.url }}" alt=""></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>